{% extends "shared/base.html" %} {% block content %}

<div class="mx-2 my-2">
  <form action="{% url 'new_candidate' %}" method="get">
    <button class="btn btn-primary float-end" type="submit">
      Add new candidate
    </button>
  </form>

  <div class="mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Job title</th>
          <th scope="col">Current company</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for candidate in candidates %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ candidate.first_name }}</td>
          <td>{{ candidate.last_name }}</td>
          <td>{{ candidate.current_job_title }}</td>
          <td>{{ candidate.current_company }}</td>
          <td>
            <a class="btn" href="{% url 'profile_details' id=candidate.id %}">
              <i class="bi bi-box-arrow-up-right"></i>
            </a>

            <a class="btn" data-profile-id="{{ candidate.id }}">
              <i class="bi bi-trash3"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
